      <div class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{title}}</h4>
            </div>
            <div class="modal-body">
              {{yield}}
            </div>
            <div class="modal-footer">
              <div class="btn-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{#if cancelTitle}}{{cancelTitle}}{{else}}Cancel{{/if}}</button>
                <button disabled={{notReady}} type="button" class="btn btn-primary" {{action 'ok'}}>{{#if okTitle}}{{okTitle}}{{else}}OK{{/if}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>