<section class="sidebar">
    <div class="header u-txtc">
        {{#link-to "index.collections" class="lead"}}<i class="icon-pictures"></i>{{/link-to}}
    </div>
    {{outlet 'sidebar'}}
    <div class="actions">
        <button class="btn" {{action 'createCollection'}}><i class="icon-plus"></i> New collection</button>
    </div>
</section>
<section class="container">
    <div class="wrapper-main">
        <header class="header">
            <h1>
                <img alt="Collected" src="/assets/img/brand.svg" />
                {{x-summary album=controller.currentAlbum}}
            </h1>
        </header>
        {{x-actions remove="removeCollection"
                    clean="cleanCollection"
                    album=controller.currentAlbum}}
        <div class="content u-scrollable">{{outlet}}</div>
    </div>
</section>