<section class="hidden-xs sidebar{{unless expanded ' collapsed'}}">
    <div class="header">
        {{#link-to "collections.index" class="lead u-cf"}}
            <i class="icon-pictures u-left"></i>
            <div class="caption">
                All
                <div class="sub-detail">{{pluralize photosAmount 'photo' 'photos'}} in total</div>
            </div>
        {{/link-to}}
    </div>
    {{outlet 'sidebar'}}
    <div class="actions">
        <button class="btn" {{action 'createCollection'}}>
            <i class="icon-plus2 u-left"></i> 
            <div class="caption">New collection</div>
        </button>
    </div>
    <a class="toggle-expand visible-lg visible-md hidden-sm hidden-xs" href="#" {{action 'toggleExpand'}}><i class="icon-{{if expanded 'layout' 'layout3'}}"></i></a>
</section>
<section class="container">
    <div class="wrapper-main">
        <header class="header">
            <h1>
                <img alt="Collected" src="/assets/img/brand.svg" />
                {{x-summary album=controller.currentAlbum
                            showModal="showModal"
                            remove="removeCollection"
                            clean="cleanCollection"}}
            </h1>
        </header>
        <div class="content u-scrollable">{{outlet}}</div>
    </div>
</section>
{{outlet 'modal'}}
<div class="container-tooltips"></div>