{{#x-modal title='Assign photo to collection' ok='assignPhotoToCollection' close='removeModal'}}
	<h6>
		<small>
			{{#if pickedCollection}}
				You have picked:
				<a class="sub-detail" {{action 'undoPick'}} href="#">undo</a>
			{{else}}
				{{#if model.albums.length}}
					This photo is already in <strong>{{view.collectionList}}</strong>
				{{/if}}	
			{{/if}}
		</small>
	</h6>
	{{#unless pickedCollection}}
	<div class="dropdown-collections">
		{{input value=view.collectionName class="collection-name u-fw" 
			    placeholder="Start typing to create new collection or pick from the list"}}
		{{#if view.trimmedCollectionName.length}}
			<button {{action 'pickCollection' view.trimmedCollectionName}} class="btn">
				<i class="icon-plus"></i> Create
			</button>
		{{/if}}
		{{#if view.freeCollections.length}}
			<ul class="u-reset album-list">
				{{#each album in view.freeCollections}}	
					<li {{action 'pickCollection' album}} class="item-card">
						<strong>{{album.name}}</strong>
						<div class="sub-detail">{{pluralize album.photos.length 'photo' 'photos'}} in total</div>
					</li>
				{{/each}}
			</ul>
		{{/if}}
	</div>
	{{else}}
		<ul class="u-reset album-list selected">
			<li class="item-card"><strong>{{pickedCollection.name}}</strong></li>
		</ul>
	{{/unless}}
{{/x-modal}}