<div class="wrapper-card" data-type="{{if controller.currentAlbum.name 'collection-photo'}}">
      <img src="{{url}}" />
      <div class="actions">
        {{#if controller.currentAlbum.name}}
          <a href="#" {{action 'removeFromCollection' this}}>
              <i class="icon-trashcan"></i>
          </a>
        {{else}}
          <a href="#" {{action 'showModal' 'modal-assign-photo' this}}>
                <i class="icon-plus2"></i>
          </a>
        {{/if}}
      </div>
</div>