<div class="wrapper-card">
  {{#unless controller.currentAlbum.name}}
  		<img {{action 'showModal' 'modal-assign-photo' this}} src="{{url}}" />
  {{else}}
        <img src="{{url}}" />
  {{/unless}}
      <div class="actions">
        {{#if controller.currentAlbum.name}}
          <a href="#" {{action 'removeFromCollection' this}}>
              <i class="icon-trashcan"></i>
          </a>
        {{else}}
          <a href="#" {{action 'showModal' 'modal-assign-photo' this}}>
                <i class="icon-plus"></i>
          </a>
        {{/if}}
      </div>
</div>